<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Inclua os arquivos do Bootstrap (CSS) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">Login</h4>
                    </div>
                    <div class="card-body">
                        <form id="formLogin">
                            <div class="form-group">
                                <label for="usuario">Usuário:</label>
                                <input type="text" class="form-control" id="usuario" name="usuario" required>
                            </div>
                            <div class="form-group">
                                <label for="senha">Senha:</label>
                                <input type="password" class="form-control" id="senha" name="senha" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </form>
                        <div class="mt-3 text-center">
                            <p>Não tem uma conta? <a href="register">Registre-se</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Inclua os arquivos do Bootstrap (JavaScript e Popper.js) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        document.getElementById('formLogin').addEventListener('submit', async function (event) {
            event.preventDefault();
            debugger

            // Enviar a requisição para a rota /api/login
            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/x-www-form-urlencoded");

            const usuario = document.getElementById('usuario').value;
            const senha = document.getElementById('senha').value;
            var urlencoded = new URLSearchParams();
            urlencoded.append("username", usuario);
            urlencoded.append("password", senha);
            var requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: urlencoded,
                redirect: 'follow'
            };

            fetch("/api/login", requestOptions)
            
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Credenciais inválidas');
                    }
                    return response.json();
                })
                .then(data => {
                    // Lógica adicional após o login bem-sucedido
                    console.log('Login bem-sucedido:', data);
                    window.location.href = '/chamados'; // Substitua com a rota correta

                })
                .catch(error => {
                    console.error('Erro de login:', error.message);
                    // Lidar com o caso de login mal-sucedido
                    alert('Usuário ou senha incorretos');
                });
            });
    </script>

</body>

</html>